# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.DS_Store
*build/
*/bin/
Build_iOS/Mach3Game.xcodeproj/xcuserdata/alexandr_broslavsky.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Build_iOS/Mach3Game.xcodeproj/project.xcworkspace/xcuserdata/alexandr_broslavsky.xcuserdatad/UserInterfaceState.xcuserstate
